@import "compass/css3";

body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

body > * {
    padding: 10px;
    flex: 1 100%;
	text-align: center;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

header {

    font-size: 20px;
	text-align: center;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

footer {
	text-align: center;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

main {
   	text-align: center;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: auto;
    height: auto;
}

nav {

	text-align: left;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

navigation {
	justify-content: space-around;

	text-align: center;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media all and (min-width: 320px) {
  nav { flex: 1 auto; }
}

@media all and (min-width: 320px) {
  main    { flex: 3 0px; }
  nav { order: 1; }
  main    { order: 2; }
  navigation { order: ; }
  footer  { order: 4; }
}


h1 {
  font-size: 25px;
  font-style: italic;
}



.ikra {
    text-align: left;
	font-size: 16px;
	font-family: "Cambria", "Hoefler Text", "Liberation Serif", "Times", "Times New Roman", "serif";
	/*background-image: url("img/ikra.jpg");*/
	background-size: 100%;
}

.par {
	font-size: 16px;
	font-family: "Cambria", "Hoefler Text", "Liberation Serif", "Times", "Times New Roman", "serif";
	/*background-image: url("img/ikra.jpg");*/
}

.paper {
	font-size: 16px;
	font-family: "Cambria", "Hoefler Text", "Liberation Serif", "Times", "Times New Roman", "serif";
	/*background-image: url("img/ikra.jpg");*/
}

.statpape {
  text-align: left;
  font-size: 16px;
	font-family: "Cambria", "Hoefler Text", "Liberation Serif", "Times", "Times New Roman", "serif";
	/*background-image: url("img/ikra.jpg");*/
}
inet {
    text-align: left;
    font-size: 16px;
    font-family: "Cambria", "Hoefler Text", "Liberation Serif", "Times", "Times New Roman", "serif";
    /*background-image: url("img/ikra.jpg");*/
}

